.mycart{
    margin-top: 24px;
}

.mycart-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        display: flex;
        border-bottom: 6px solid #187498;
        line-height: 60px;
        span+span{
            margin-left: 6px;
        }
    }
    a{
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 16px;
        color: #187498;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #187498;
        padding: 0px 16px;
        text-decoration: none;
        border-radius: 8px;
    }
}

.mycart-content{
    margin-top: 40px;
    table{
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        tr:nth-child(1){
            border-bottom: 1px solid #000;
        }
        th{
            padding: 12px 0; 
        } 
        .tr-product th,.tr-foot th{
            padding: 20px 0;
            vertical-align: middle;
        }  
        .th-qty,.th-price{
            text-align: center;
        }   
        .th-total{
            text-align: right;
        }
        .tfoot-total,.tfoot-qty{
            border-top: 2px solid #000;
        }
        .tfoot-total{
            text-align: right;
            font-size: 24px;
            font-weight: 700;
        }

    }
    .row-product-item{
        display: flex;
        align-items: center;
        img{
            margin-right: 40px;
            width: 60px;
            height: 78px;
        }
        a{
            text-decoration: none;
            color: #000;
        }
    }
    .control-qty{
        margin-left: 60px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0 24px;
        justify-content: center;
    }
    .btn-control{
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #ccc;
        outline: none;
        border-radius: 50%;
        border: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .control-remove{
        border: none;
        background-color: transparent;
    }
    //input qty product
    .save-qty{
        display: none;
    }

}
.mycart-footer{
    margin-bottom: 200px;
    margin-top: 12px;
    justify-content: end;
    display: flex;
    a{
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 16px;
        color: #187498;
        height: 42px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #187498;
        padding: 0px 16px;
        text-decoration: none;
        border-radius: 12px;
    }
}
